body{
    background:url(gif1.gif) ;
    background-repeat: no-repeat;
    background-size:cover;
}
.align{
position:fixed;

top: 50px;
left: 165px;
}

.thank{
font-family: 'Times New Roman', Times, serif;
font-size: 75%;
letter-spacing:.5em;
text-align: center;
color: rgb(90, 90, 87);
}   

#pika{
position:fixed;
bottom: 0px;
right: 0px;
animation-name: move;
animation-duration: 30s;
animation-delay: 1s;
animation-iteration-count: infinite;

}

@keyframes move {

0%{transform:translate(0px) ;}
100%{transform: translate(-1400px);}


    
}