body{
    background:url(gif1.gif) ;
    background-repeat: no-repeat;
    background-size:cover;
}
.align{
position:absolute;

top: 50px;
left: 165px;
}

.thank{
font-family: 'Times New Roman', Times, serif;
font-size: 75%;
letter-spacing:.5em;
text-align: center;
color: rgb(90, 90, 87);
animation: typing 8s linear infinite;
}   

.pika{
position:absolute;
bottom: 0px;
animation: animate 4s steps(18) infinite;

}